/*------------------------------------*\
    $Links
\*------------------------------------*/

	
	/*  Normal link */
	a {color: $watf-red; text-decoration: none; @include transition(color, 0.5s, ease-out);}
	
	/*  Hover over */	
	a:hover, a:focus {color: darken( $watf-red, 20% ); text-decoration: none;} 
	
	/*  Link that's been clicked on */
	a:visited {}
	
	/*  When the link is being clicked	 */
	a:active { color: $watf-red;}
	
	p a { color: $watf-red; text-decoration: none; @include transition(color, 0.5s, ease-out); }

	p a:hover, p a:focus {color: darken( $watf-red, 20% ); text-decoration: none;} 
	
	/*	 
	   No text-shadow: twitter.com/miketaylr/status/12228805301 
	   Also: highlight colour for selection */
	::-moz-selection{ background: $watf-red; color:#fff; text-shadow: none; }
	::selection { background:$watf-red; color:#fff; text-shadow: none; } 
	
	/*  j.mp/webkit-tap-highlight-color 
	a:link { -webkit-tap-highlight-color: $watf-red; } */
	
	/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
	a:hover, a:active { outline: none; }




